html,body
{
	height: 100%;
}

.introduction
{
	color: blue;
}


h1
{
	text-align: center;
}


#copyright
{
	float: right;
}


#foot 
{
	background-color:#686868;
	height:100%;
	position: fixed;
	left:0
	bottom:0;
	right: 0;
	width: 100%;
	padding: 10px;
}

.container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.simple,.coton
{text-align: center;
padding: 0 50px 0 50px;}